@import '../../styles/variables';
@import '../../styles/mixins';

.activitypanel {
	border-radius: 10px;
	color: white;
	background-color: $teritory-color;
}
.time {
	font-size: 14px;
	color: $secondary-subtitle-color;
	opacity: 100%;
}
.activity-panel-head {
	padding: 20px 24px;
	background-color: #2d357e;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.activity-panel-head-title {
	font-size: 18px;
	font-weight: 600;
}
.activity-panel-content {
	padding: 20px 24px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.activity-panel-second-title {
	font-size: 18px;
}
.activity-panel-desc {
	color: $secondary-subtitle-color;
	font-size: 14px;
}
.activity-panel-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	p {
		font-size: 14px;
	}
	button {
		padding: 10px 16px;
		color: white;
		background-color: $main-color;
		border-radius: 4px;
		border: none;
	}
}
