$main-color: #ff5151;
$secondary-color: #ff9b6a;
$teritory-color: #161e54;

$secondary-subtitle-color: #686868;
$bg-color: #fafafa;

$card-color: #3786f1;
$common-line-height: 28px;

$announcment-card-padding: 16px 20px 0px 20px;
