@import '../../../styles/variables';
@import '../../../styles/mixins';
.statistic-container {
	width: 100%;
	display: flex;
	padding: 20px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
}
.left-statistic {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	h2 {
		font-size: 18px;
		color: $teritory-color;
	}
	h3 {
		font-size: 48px;
	}
	p {
		color: $secondary-subtitle-color;
		font-size: 14px;
	}
}
.right-statistic {
	align-self: center;
}
.past-month-value {
	background-color: #ffefe7;
	font-size: 12px;
	border-radius: 4px;
	padding: 0px 8px;
}
