.announcements-footer button {
  padding: 10px;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-weight: 600;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  color: #ff5151;
  line-height: 12px;
  font-size: 14px;
}